<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="onNewExercise()">
        <ion-icon name="add" large></ion-icon>
      </button>
    </ion-buttons>    

    <ion-title>Exercises</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <button ion-item *ngFor="let exercise of exercises; let i = index" (tap)="onLoad(i)" (press)="onShowOptions(i, $eevent)">
      <h3>{{ exercise.name }}</h3>
      <!--<ion-note *ngFor="let category of exercise.categories">
        {{ category.name }}
        jee
      </ion-note>-->
    </button>
  </ion-list>
  
</ion-content>
